@page "/contributors"
<PageTitle>StageCoder - Contributors</PageTitle>
    <Article>
        <h1>Contributors</h1>

        <h2>Jimmy Engström</h2>


        <h2>Simon Wåhlin</h2>


        <h2>Jessica Engström</h2>


        </Article>
            @code {

            }

