@page "/"

<PageTitle>StageCoder</PageTitle>

<img src="StageCoder.png" />

<Jumbotron Title="Become the best possible stage coder">
    Introducing StageCoder, the ultimate Visual Studio extension that will take your code demos to the next level and make you look like a coding superstar on stage!
    With StageCoder, you can say goodbye to the hassle of remembering what to type and worrying about typos. Our extension provides a simple and elegant way to showcase your code in a way that will capture your audience's attention.
</Jumbotron>

<section>

</section>
