@page "/visualstudio"
    <Article>
        <h1>Visual Studio</h1>
        This extension makes it possible to type out a snippet, character by character, by pressing any buttons. <br />
        This is the perfect extension for people showing code on stage, in a classroom, or in a workshop.<br />
        <br /><br />
        Steps:<br />
        1. Select some code<br />
        2. Right-click and select <strong>Create snippet</strong><br />
        3. Name the snippet<br />
        4. Now type the name of the snippet in a comment in the code //Snippetname (most comment types work)<br />
        5. Make sure the cursor is on the same line as the comment
        Press CTRL + TAB + TAB<br />
        The Extension now takes over and you can press any button (except TAB) to type one character at a time.<br />
        6. To exit the extension, press TAB.<br /><br />

        The snippets are saved in a folder called "Snippets" in the solution folder.<br />
    </Article>

    @code {

    }

