<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">@Title</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4 text-white">@ChildContent</p>
            @if (Buttons != null)
                {
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        @Buttons
                    </div>
                }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required string Title { get; set; }
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    [Parameter]
    public RenderFragment? Buttons { get; set; }

}

